div{
    header{
        nav{
            text-align: center;
            a{
                font-size: 20px;
                color: white;
                text-decoration: none;
                &:hover{
                    color:black
                }
            }
        };
    }
}
